*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 30px;
  gap: 30px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 20px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 7px;
  border: none;
}

.search-form__fieldset-title {
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 6px;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: #fff 1px solid;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield) {
  text-decoration: none;
}

input {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 17.5px;
  line-height: 100%;
  border-bottom: 1px solid rgb(255 255 255 / 1);
  border-top: 1px solid rgb(255 255 255 / 1);
  border-right: none;
  border-left: none;
  background-color: transparent;
  width: 225px;
}

.search-form__textfield {
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked+ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: #fff solid 1px;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.button {
  border: #fff 1px solid;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 6px 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff 1px solid;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
  width: 400px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84 80 80 / 1)
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 2px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: #fff 1px solid;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-title {
  display: block;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: top right;
}

.more-button {
  width: 100%;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/*достилизовать кнопки*/